@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap');

/* color palette */
:root {
  --color-dark-red: #6F1D1B;
  --color-tan: #BB9457;
  --color-dark-brown: #432818;
  --color-brown: #99582A;
  --color-cream: #FFE6A7;
  --color-caramel: #B58351;

  --color-background: var(--color-tan);
  --color-background-soft: var(--color-cream);
  --color-background-mute: var(--color-caramel);

  --color-border: var(--color-brown);
  --color-border-hover: var(--color-dark-brown);

  --color-heading: var(--color-dark-brown);
  --color-text: var(--color-dark-brown);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Bitter',
    serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}