@import './base.css';

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#app {
  width: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
